@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
div.row {
  margin: 0;
}
@media (min-width: 768px) {
  div#navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  nav.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: rgba(255,255,255,0.95);
    background: rgba(255,255,255,0.95);
  }
  nav.navbar a.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 64px;
    margin-top: 8px;
    text-transform: uppercase;
  }
  nav.navbar div.collapse.navbar-collapse {
    text-align: center;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav {
    float: none;
    display: inline-block;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li {
    border-top: 4px transparent solid;
    padding: 0 8px;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li a {
    display: table-cell;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    height: 64px;
    text-transform: uppercase;
    vertical-align: middle;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li.active {
    border-top: 4px #e91e63 solid;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li.active a {
    background-color: inherit;
  }
}
.full-center {
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
div#resume div.content {
  max-width: 800px;
  margin: auto;
  position: relative;
}
div#resume div.content:after {
  content: "";
  display: block;
  border: 1px dashed #444;
  position: absolute;
  top: 0;
  left: 8.3%;
  height: 100%;
  z-index: -3;
}
div#resume div.content div.edu-item {
  color: #fff;
  margin-bottom: 18px;
}
div#resume div.content div.edu-item div.time {
  background-color: #e91e63;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 4px;
  text-align: center;
}
div#resume div.content div.edu-item div.place {
  border: 1px solid #777;
  border-radius: 3px;
  padding: 12px;
}
div#resume div.content div.edu-item div.place img.icon-place {
  margin-right: 3%;
  vertical-align: inherit;
  width: 10%;
}
div#resume div.content div.edu-item div.place div.header-place {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  position: relative;
  width: 87%;
}
div#resume div.content div.edu-item div.place div.header-place h4 {
  color: #fff;
}
div#resume div.content div.edu-item div.place div.header-place h6 {
  color: #bdbdbd;
  font-weight: 700;
}
div#resume div.content div.edu-item div.place div.header-place span.glyphicon {
  position: absolute;
  top: 22px;
  right: 16px;
}
div#resume div.content div.edu-item div.place p {
  font-family: 'Lato', sans-serif;
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}
div#resume div.content div.edu-item div.place:hover {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  background: #000;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
div#hero {
  background-color: #333;
  display: block;
  height: calc(100% - 64px);
  position: relative;
  width: 100%;
}
div#hero div#hero-content {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
div#hero div#hero-content h1 {
  color: #fff;
  font-size: 100px;
}
div#hero div#hero-content p {
  color: #bdbdbd;
  font-size: 24px;
  font-style: italic;
}
div.separator,
div.left-separator {
  background: #e91e63;
  border-radius: 2px;
  width: 15%;
  height: 3px;
  margin: auto;
}
div.left-separator {
  margin: inherit;
}
div.section {
  min-height: 1000px;
  width: 100%;
}
div.section div.header {
  padding-top: 90px;
  margin-bottom: 80px;
  text-align: center;
}
div.section div.header h1 {
  color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
div.section div.header p {
  font-size: 16px;
  color: #bdbdbd;
  font-style: italic;
}
div.section div.technology {
  height: 60px;
  margin-left: 3%;
  margin-bottom: 2%;
}
div.section div.technology span {
  color: #fff;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
div.section div.technology img {
  height: 60px;
}
div.section div.work {
  color: #fff;
  height: 400px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
div.section div.work div.bg {
  -webkit-animation: ease 1s;
          animation: ease 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
div.section div.work#quanto-spreco div.bg {
  background-image: url("img/quanto-spreco-bg.jpg");
}
div.section div.work#quanto-spreco-web div.bg {
  background-image: url("img/quanto-spreco-web.png");
}
div.section div.work#bring-the-food div.bg {
  background-image: url("img/btf-bg.png");
}
div.section div.work#come-butta div.bg {
  background-image: url("img/come-butta-bg.jpg");
}
div.section div.work#android-toggle-switch div.bg {
  background-image: url("img/android-toggle-switch-bg.jpg");
}
div.section div.work#studio4 div.bg {
  background-image: url("img/studio4.jpg");
}
div.section div.work#west-road-bike div.bg {
  background-image: url("img/west-road-bike.png");
}
div.section div.work div.description {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 25%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
div.section div.work div.description h2 {
  font-size: 32px;
  margin: 0;
}
div.section div.work div.description p {
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}
div.section div.work:hover div.bg {
  opacity: 0.25;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
div.section div.work:hover div.description {
  opacity: 0.9;
  top: 50%;
}
div#about.section h2 {
  color: #fff;
}
div#about.section h4 {
  color: #fff;
  margin: 32px 0;
  font-family: 'Lato', sans-serif;
}
div#about.section p {
  color: #bdbdbd;
}
