@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
div.row {
  margin: 0;
}
nav.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li {
  border-top: 4px transparent solid;
  padding: 0 8px;
}
nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li a {
  display: table-cell;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  height: 64px;
  text-transform: uppercase;
  vertical-align: middle;
}
nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li.active {
  border-top: 4px #e91e63 solid;
}
nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav li.active a {
  background-color: inherit;
}
@media (min-width: 768px) {
  nav.navbar div.collapse.navbar-collapse {
    text-align: center;
  }
  nav.navbar div.collapse.navbar-collapse ul.nav.navbar-nav {
    float: none;
    display: inline-block;
  }
}
html {
  height: 100%;
}
body {
  background: #000;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
div#hero {
  background-color: #333;
  display: block;
  height: calc(100% - 64px);
  position: relative;
  width: 100%;
}
div#hero div#hero-content {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
div#hero div#hero-content h1 {
  color: #fff;
  font-size: 100px;
}
div#hero div#hero-content p {
  color: #808080;
  font-size: 24px;
  font-style: italic;
}
div.section {
  width: 100%;
}
div.section div.header {
  margin-bottom: 40px;
  text-align: center;
}
div.section div.header h1 {
  color: #fafafa;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
div.section div.header p {
  font-size: 16px;
  color: #bdbdbd;
  font-style: italic;
}
div.section div.header div.separator {
  background: #e91e63;
  border-radius: 2px;
  width: 15%;
  height: 3px;
  margin: auto;
}
div.section div.technology {
  height: 60px;
  margin-left: 3%;
  margin-bottom: 2%;
}
div.section div.technology span {
  color: #fff;
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
div.section div.technology img {
  height: 60px;
}
div.section div.work {
  color: #fff;
  height: 400px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
div.section div.work div.bg {
  -webkit-animation: ease 1s;
          animation: ease 1s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
div.section div.work#quanto-spreco div.bg {
  background-image: url("img/quanto-spreco-bg.jpg");
}
div.section div.work#bring-the-food div.bg {
  background-image: url("img/btf-bg.jpg");
}
div.section div.work#come-butta div.bg {
  background-image: url("img/come-butta-bg.jpg");
}
div.section div.work#android-toggle-switch div.bg {
  background-image: url("img/android-toggle-switch-bg.jpg");
}
div.section div.work div.description {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 25%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
div.section div.work div.description h2 {
  font-size: 32px;
  margin: 0;
}
div.section div.work div.description p {
  font-style: italic;
  font-size: 16px;
  margin-top: 5px;
}
div.section div.work:hover div.bg {
  opacity: 0.2;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
div.section div.work:hover div.description {
  opacity: 0.8;
  top: 50%;
}
