div.scrollToTop i.icon-up-open-big
  display block
  margin-top 12px

@media(max-width: 768px)
  li#hero-img
    div.tp-caption.large_white
      font-size 18px !important
      padding 10px !important
    div.tp-caption.medium_white
      font-size 12px !important
      padding 10px !important