div.row
	
	div.col-sm-6
		h2 HELLO, MY NAME IS LORENZO.

		h4 Lorenzo Rigato, 25 years young, born and grew up in Treviso, Italy. Highly motivated full-stack and mobile developer.

		div.left-separator
		br

		p I currently work at Galley-La Company, where I spend most of my time crafting and working on awesome projects.

		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

	div.col-sm-6
		h2 FOTO