div#navbar
	nav.navbar.navbar-default.navbar-static
		div.container-fluid
			div.navbar-header
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false" data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#hero") Lorenzo Rigato

			div.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav
					li.active 
						a(href="#hero") HOME

					li
						a(href="#about") ABOUT
					
					li
						a(href="#portfolio") PORTFOLIO

					li
						a(href="#resume") RESUME
					
					li 
						a(href="#references") REFERENCES
					
					li
						a(href="#skills") SKILLS
					
					li 
						a(href="#contacts") CONTACTS