div.technology 
	img(src='img/android_logo_droid.png')
	span Android

div.row
	div.work.col-sm-4#quanto-spreco
		div.bg
		div.description
			h2 Quanto Spreco?
			p The app to optimize the food consumption of your pantry
	
	div.work.col-sm-4#bring-the-food
		div.bg
		div.description
			h2 Bring The Food
			p The app to share your surplus of food in order to reduce food waste

	div.work.col-sm-4#come-butta
		div.bg
		div.description
			h2 Come Butta
			p The application to know the correct bid

div.row

	div.work.col-sm-4#android-toggle-switch
		div.bg
		div.description
			h2 Android Toggle Switch
			p A customizable extension of Android Switches that supports also more than 2 items

div.technology 
	img(src='img/android_logo_droid.png')
	span Ruby on Rails

div.row
	
	div.work.col-lg-4#west-road-bike
		div.bg
		div.description
			h2 West Road Bike
			p A customizable extension of Android Switches that supports also more than 2 items

	div.work.col-lg-4#studio4
		div.bg
		div.description
			h2 Studio 4 Audioservizi
			p A customizable extension of Android Switches that supports also more than 2 items

	div.work.col-lg-4#quanto-spreco-web
		div.bg
		div.description
			h2 Quanto Spreco? (website)
			p The website for the Quanto Spreco? application.