div.content

	div.edu-item.row
		div.col-sm-2 
			div.time 2013 - 2015
		div.col-sm-10.institute
			h4 COMPUTER SCIENCE MASTERS DEGREE - UNIVERSITY OF TRENTO
			p Bla bla bla
			span.glyphicon.glyphicon-menu-down

	div.edu-item.row
		div.col-sm-2
			div.time 2010 - 2013
		div.col-sm-10.institute
			h4 COMPUTER SCIENCE BACHELORS DEGREE - UNIVERSITY OF TRENTO
			p bla bla bla
			span.glyphicon.glyphicon-menu-down

	div.edu-item.row
		div.col-sm-2
			div.time 2006 - 2010
		div.col-sm-10.institute
			h4 ECONOMY HIGH SCHOOL DIPLOMA - ITC RICCATI OF TREVISO
			p bla bla bla
			span.glyphicon.glyphicon-menu-down