- var unitn_logo = "img/unitn-logo.png"

div.content

	div.edu-item.row
		div.col-xs-3
			div.time 2013 - 2015
		div.col-xs-9.place
			img.icon-place(src=unitn_logo)
			div.header-place
				h4 COMPUTER SCIENCE MASTERS DEGREE
				h6 UNIVERSITY OF TRENTO
				h5 110/110 with honour
				span.glyphicon.glyphicon-menu-down
			p Bla bla bla
			

	div.edu-item.row
		div.col-xs-3
			div.time 2010 - 2013
		div.col-xs-9.place
			img.icon-place(src=unitn_logo)
			div.header-place
				h4 COMPUTER SCIENCE BACHELORS DEGREE
				h6 UNIVERSITY OF TRENTO
				h5 103/110
				span.glyphicon.glyphicon-menu-down
			p bla bla bla
			

	div.edu-item.row
		div.col-xs-3
			div.time 2006 - 2010
		div.col-xs-9.place
			img.icon-place(src="img/riccati-logo.png")
			div.header-place
				h4 ECONOMY HIGH SCHOOL DIPLOMA
				h6 ITC RICCATI OF TREVISO
				h5 81/100
				span.glyphicon.glyphicon-menu-down
			p bla bla bla