doctype
html
	head
		include jade/head.jade

		body

			div#hero
				div#hero-content
					h1 Hi, I'm Lorenzo
					p Nice to meet you!

			include jade/navbar.jade

			div.row.section#about
				div.header
					h1 My Story 
					p This is my story
					div.separator.wow.zoomIn

				include jade/about.jade

			div.row.section#portfolio
				div.header
					h1 My Works
					p Below My last works
					div.separator.wow.zoomIn

				include jade/portfolio.jade

			div.row.section#resume
				div.header
					h1 Resume
					p If you call failures experiments, you can put them in your resume and claim them as achievements.
					div.separator.wow.zoomIn

				include jade/resume.jade

			div.row.section#references
				div.header
					h1 References
					p They speaks about me
					div.separator.wow.zoomIn

				include jade/references.jade

			div.row.section#skills
				div.header
					h1 My Skills
					p Here there are my main skills
					div.separator.wow.zoomIn

			div.row.section#contacts
				div.header
					h1 Contacts
					p Get in touch with me
					div.separator.wow.zoomIn


			include jade/bottom-js.jade
