@import url("https://fonts.googleapis.com/css?family=PT+Serif|Pacifico|Raleway:700,400,300|Roboto:400,300,300italic,400italic,500,500italic,700,700italic");
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.font-size-16 {
  font-size: 16px;
}
.height-44 {
  height: 44px;
}
.height-50 {
  height: 50px;
}
.height-100-perI {
  height: 100% !important;
}
.line-height-44 {
  line-height: 44px;
}
.line-height-50 {
  line-height: 50px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-24 {
  margin-bottom: 24px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-28 {
  margin-top: 28px;
}
.margin-top-32 {
  margin-top: 32px;
}
.margin-left-16 {
  margin-left: 16px;
}
.padding-left-0 {
  padding-left: 0;
}
.padding-right-0 {
  padding-right: 0px;
}
.padding-right-8 {
  padding-right: 8px;
}
.text-align-left {
  text-align: left;
}
.width-80 {
  width: 80px;
}
