div#resume
	
	div.content
		max-width 800px
		margin auto
		
		div.edu-item
			color white
			margin-bottom 18px
			
			div.time
				background-color $primary_color
				border-radius 3px
				font-family 'Raleway', sans-serif
				font-size 16px
				font-weight 700
				padding 4px
				text-align center
			
			div.institute
				border 1px solid $dark_gray
				border-radius 3px
				padding 12px
				position relative
				
				h4
					font-family 'Raleway', sans-serif
					color white
					
				p
					font-family 'Lato', sans-serif
					height 0
					opacity 0
				
				span.glyphicon
					position absolute
					top 22px
					right 16px
	