-
    var certifications = [
        {
            name: "Bulats English",
            date: "certifications.bulats.date",
            company_icon: "bulats.jpg",
            file_name: "BULATS.pdf"
        },
        {
            name: "Java 8 SE Programmer",
            date: "certifications.java8.date",
            company_icon: "oracle.jpg",
            file_name: "JAVA8_SE_Programmer.pdf"
        },
        //- {
        //-     name: "Microsoft Office Specialist (MOS)",
        //-     date: "June 2008",
        //-     company_icon: "microsoft.jpg",
        //-     url: "https://www.microsoft.com/it-it/learning/mos-certification.aspx"
        //- }
    ]

section.section.dark-translucent-bg.parallax.pv-40(
    style="background-position: center center; background-size:cover; background-repeat: repeat; background-image: url('public/images/road.jpg')")

    div.container.mt-20.mb-20

        div.row
            div.col-md-8.col-md-offset-2.text-center
                h2.title
                    i.fa.fa-trophy.pr-20
                    span.text-white.trn certifications.title
                    i.fa.fa-trophy.pl-20
                    //span.text-default Certifications

                div.separator

                //p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!
                br


        each certification in certifications

            div.col-md-6.col-md-offset-3.object-non-visible(data-animation-effect="fadeInUpSmall", data-effect-delay="100")

                div.image-box.style-3-b
                    div.row

                        div.col-xs-3
                            img.width-100.pull-right(src="public/images/logo/" + certification.company_icon)
                        div.col-xs-9
                            div.body

                                h3.title.mb-10= certification.name
                                    
                            p.small.mb-5
                                i.icon-calendar.trn= certification.date

                            form(method="get", action="public/files/" + certification.file_name).mt-10.mb-10    
                                button.btn.btn-sm.btn-default.btn-animated.margin-clear.trn(type="submit") Download
                                        i.fa.fa-download
                                //.
                                //    = certification.date
                            //div.separator-2
                            //p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
