section.section.dark-translucent-bg.parallax.background-img-1(
    style="background-position: 50% -54px")

    div.container
        div.clients-container
            div.clients

                div.client-image.object-non-visible(data-animation-effect="fadeIn", data-effect-delay="100")
                    a(href="#")
                        img(src="public/images/client-1.png")

                div.client-image.object-non-visible(data-animation-effect="fadeIn", data-effect-delay="200")
                    a(href="#")
                        img(src="public/images/client-1.png")

                div.client-image.object-non-visible(data-animation-effect="fadeIn", data-effect-delay="300")
                    a(href="#")
                        img(src="public/images/client-1.png")