footer#footer.clearfix

    div.footer
        div.container
            div.footer-innerj
                div.row

                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Find Me
                            ul.list-icons
                                li
                                    i.fa.fa-map-marker.pr-10.text-default One infinity loop, 54100
                                li
                                    i.fa.fa-phone.pr-10.text-default +00 112345678
                                li
                                    a(href="mailto:lore91tanz@gmail.com")
                                        i.fa.fa-envelope-o.pr-10
                                        .
                                            lore91tanz@gmail.com

                            a.collapsed.map-show.btn-lg-link.padding-hor-clear(
                                data-toggle="collapse",
                                href="#collapseContact",
                                aria-expanded="false",
                                aria-controls="collapseContact")
                                i.fa.fa-envelope.pr-20
                                .
                                    Contact Me


                    div.col-sm-6.col-md-3.col-lg-4.col-lg-offset-1

                        div.footer-content

                            h2.title Follow Me

                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugiat accusantium similique modi alias consectetur nesciunt.

                            ul.social-links.large.circle.animated-effect-1
                                li.facebook
                                    a(target="_blank", href="https://www.facebook.com/lorenzoatrix")
                                        i.fa.fa-facebook

                                li.twitter
                                    a(target="_blank", href="https://twitter.com/llollox")
                                        i.fa.fa-twitter

                                li.googleplus
                                    a(target="_blank", href="https://plus.google.com/+LorenzoRigato?hl=it")
                                        i.fa.fa-google-plus

                                li.linkedin
                                    a(target="_blank", href="https://www.linkedin.com/in/lorenzo-rigato-0370894b")
                                        i.fa.fa-linkedin

    div.subfooter
        div.container
            div.subfooter-inner
                div.row
                    div.col-md-12
                        p.text-center
                            a(href="#") Lorenzo Rigato
                            .
                                - Web, Android & iOS Developer
