// header-container start
div.header-container

    // header start
    header.header.fixed.fixed-before.full-width.clearfix

        // header right start
        div.header-right.clearfix

            // main navigation start
            div.main-navigation.animated

                include navbar