html
    head
        link(href='../public/css/css_libraries.css', rel='stylesheet')
        link(href='../public/css/application.css', rel='stylesheet')

    body
        p= 'Prova a'
        span.glyphicon.glyphicon-search

        script(src='../public/js/application.js')