html
    head
        meta(charset="utf-8")
        title Lorenzo Rigato - Web, Android & iOS Developer

        meta(name="description" content="Lorenzo Rigato's personal web page")
        meta(name="author"  content="Lorenzo Rigato")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(href='../public/css/css_libraries.css', rel='stylesheet')
        link(href='../public/css/application.css', rel='stylesheet')

    body.no-trans.front-page.transparent-header.gradient-background-header

        // scrollToTop
        // ================
        div.scrollToTop.circle
            i.icon-up-open-big


        // page wrapper start
        div#home.page-wrapper
            include header
            include banner

            div#page-start

            include timeline
            include references
            include skills
            include certifications
            include portfolio
            //include message
            include map
            include footer

        script(src='../public/js/application.js')