-
    var API_KEY = "AIzaSyBkL-Fj8CXq7Mkp2vHvERDCkirZvpDH6ZY"

script(src="https://maps.googleapis.com/maps/api/js?key=" + API_KEY)

section#places

    h2.title.text-align-center.margin-top-40.margin-bottom-24
        span.text-muted Places
        span.text-default.margin-left-8 I've Lived

    div#map(style="height:700px")
