section.dark-translucent-bg.hovered.background-img-6

    div.border-clear.footer-top.animated-text.default-hovered
        div.container
            div.row
                div.col-md-12
                    div.call-to-action.text-center

                        div.row

                            div.col-sm-8
                                h2 Some crazy things I've done
                                h2 Really! :D

                            div.col-sm-4
                                p.mt-10
                                    a.btn.btn-animated.btn-lg.btn-gray-transparent.radius-50(href="#")
                                        .
                                            See now
                                        i.fa.fa-arrow-right.pl-20