
section.section.dark-translucent-bg.parallax(
style="background-position: 50% -54px; background-image: url('public/images/road.jpg')")

    div.row
        div.col-md-8.col-md-offset-2.text-center
            h2.title
                span.text-white A few numbers
                span.text-default

            div.separator

            //p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!
            br