section#portfolio.section.pv-40.light-gray-bg
    div.container

        div.row
            div.col-md-8.col-md-offset-2.text-center
                h2.title
                    span.text-muted Recent
                    span.text-default Projects

                div.separator

                p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit Illo quaerat <br> commodi excepturi dignissimos!
                br

        div.col-md-10.col-md-offset-1

            div.image-box.style-3-b
                div.row

                    div.col-sm-6.col-md-4
                        div.shadow.bordered
                            img(src="public/images/portfolio-1.jpg")
                    div.col-sm-6.col-md-8
                        div.body
                            h3.title
                                a(href="#") Project Title
                        p.small.mb-10
                            i.icon-calendar
                            .
                                Feb, 2016
                            i.pl-10.icon-tag-1
                            .
                                Web Design
                        div.separator-2
                        p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                        p
                            a(href="#") Read More

            div.image-box.style-3-b
                div.row

                    div.col-sm-6.col-md-4
                        div.shadow.bordered
                            img(src="public/images/portfolio-1.jpg")
                    div.col-sm-6.col-md-8
                        div.body
                            h3.title
                                a(href="#") Project Title
                        p.small.mb-10
                            i.icon-calendar
                            .
                                Feb, 2016
                            i.pl-10.icon-tag-1
                            .
                                Web Design
                        div.separator-2
                        p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                        p
                            a(href="#") Read More


            div.image-box.style-3-b
                div.row

                    div.col-sm-6.col-md-4
                        div.shadow.bordered
                            img(src="public/images/portfolio-1.jpg")
                    div.col-sm-6.col-md-8
                        div.body
                            h3.title
                                a(href="#") Project Title
                        p.small.mb-10
                            i.icon-calendar
                            .
                                Feb, 2016
                            i.pl-10.icon-tag-1
                            .
                                Web Design
                        div.separator-2
                        p.mb-10 Lorem ipsum dolor sit amet, adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.
                        p
                            a(href="#") Read More

