section#skills.main-container
    div.container

        div.row

            div.main.col-md-10.col-md-offset-1

                h1.page-title My Skills
                div.separator-2.mb-20

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per.

                div.progress.style-1.dark
                    span.text
                    div.progress-bar.progress-bar-white(role="progressbar", data-animate-width="95%")
                        span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000") Android


                div.progress.style-1.dark
                    span.text
                    div.progress-bar.progress-bar-white(role="progressbar", data-animate-width="85%")
                        span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000") Ruby on Rails


                div.progress.style-1.dark
                    span.text
                    div.progress-bar.progress-bar-white(role="progressbar", data-animate-width="80%")
                        span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000") CSS


                div.progress.style-1.dark
                    span.text
                    div.progress-bar.progress-bar-white(role="progressbar", data-animate-width="40%")
                        span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000") iOS

                p Sed eget pulvinar quam, vel feugiat enim. Aliquam erat volutpat. Phasellus eu porta ipsum. Suspendisse aliquet imperdiet commodo. Aenean vel lacinia elit. Class aptent taciti sociosqu ad litora torquent per. Vestibulum velmo.

                ul.list-icons
                    li.object-non-visible.animated.object-non-visible.fadeInUpSmall(data-animation-effect="fadeInUpSmall")
                        i.icon-check
                        .
                            Data Engineer

                    li.object-non-visible.animated.object-non-visible.fadeInUpSmall(data-animation-effect="fadeInUpSmall")
                        i.icon-check
                        .
                            Clean code lover

