-
    var skills = {
        technical: [
            {
                name: "Android",
                percentage: "90%"
            },
            {
                name: "Ruby on Rails",
                percentage: "60%"
            },
            {
                name: "Web (Angular 2, Node, CSS)",
                percentage: "80%"
            },
            {
                name: "Data Engineering",
                percentage: "50%"
            },
            {
                name: "iOS",
                percentage: "40%"
            },
            {
                name: "User Interaction & UX",
                percentage: "75%"
            },
            {
                name: "Photoshop, Illustrator, Premiere",
                percentage: "60%"
            }
        ],
        personal: [
            {
                name: "Motivation",
                percentage: "90%"
            },
            {
                name: "Quick Learning",
                percentage: "75%"
            },
            {
                name: "Team Work",
                percentage: "55%"
            },
            {
                name: "Problem Solving",
                percentage: "65%"
            }

        ]
    }



section#skills.main-container
    div.container

        div.row

            div.main.col-md-10.col-md-offset-1

                h1.page-title.trn skills.title
                div.separator-2.mb-20

                //- p Below are listed my technical and personal skills.

                h3.trn skills.technical

                each skill in skills.technical

                    div.progress.style-1.dark
                        span.text
                        div.progress-bar.progress-bar-gray(role="progressbar", data-animate-width=skill.percentage)
                            span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000")= skill.name

                h3.trn skills.personal

                each skill in skills.personal

                    div.progress.style-1.dark
                        span.text
                        div.progress-bar.progress-bar-gray(role="progressbar", data-animate-width=skill.percentage)
                            span.label.object-non-visible(data-animation-effect="fadeInLeftSmall", data-effect-delay="1000")= skill.name
